.formLogin {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.formLogin h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;

}

.formLogin input {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color:#f9f9f9;
  color: #000;
  border: 1px solid #000; 
}

.formLogin button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formLogin button:hover {
  background-color: #245027;
}

.formLogin label{
    color: #000;
    text-align: left;
}
